/notebooks/output_dir/*
/notebooks/dreambooth_checkpoints/*
/notebooks/finetune_checkpoints/*
/notebooks/train_dir/*
/notebooks_/*
/notebooks/course22p2/*
/notebooks/hagrid_checkpoints/*
/notebooks/colorize_checkpoints/*
/notebooks/wandb/*
README_.md