# /.ipynb_checkpoints
/.ipynb_checkpoints_/*
/notebooks/output_dir/*
/notebooks/dreambooth_checkpoints/*
/notebooks/finetune_checkpoints/*
/notebooks/train_dir/*
/notebooks_/*
/notebooks/course22p2/*
/notebooks/course22p2_/*
/notebooks/hagrid_checkpoints/*
/notebooks/colorize_checkpoints/*
/notebooks/superres_checkpoints/*
/notebooks/discriminator_checkpoints/*
/notebooks/wandb/*
/notebooks/miniai_data_augmentation_seed-*
README_.md